<div class="my-hero-main-container">
  <div class="my-container-hero">

    <div class="my-hero-center-align">
      <div class="my-column-left">
        <h1 class="my-title">Academia Te Fac Programator</h1>
        <p class="description">Ne angajăm să luăm parte la pregătirea teoretică și practică a generațiilor pentru a fi în pas cu progresul tehnologic. Ajutăm cursanții să înțeleagă cum funcționează un calculator, ce rulează în spatele unui site web, cum a fost făcut Facebook sau Instagram. Am dezvoltat pentru tine o platformă de învățare care îmbină elemente de joc și de studiu, pentru a-ți face procesul mult mai plăcut.</p>
        <button class="quiz-link" routerLink="/quiz">Completează Quiz-ul <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>

    <div class="my-column-right">
      <div class="my-banner-image">
          <div class="my-thumbnail">
            <img src="../../assets/slider-bg1.jpg" alt="Banner Image" style="object-fit: cover; object-position: right center;">
          </div>
          <div class="my-round-image">
          <img src="../../assets/hero-04-round.png" alt="Shape Image">
        </div>
        <div class="learner-badge">
          <div class="my-badge-inner">
            <span class="viewer">1094</span>
            <span>Interesati</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
