
<!--  -->
<div class="formular-main-container">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-8 col-sm-auto">
        <h3 class="my-mb-30">Înscrie-te azi !</h3>
        <h5 class="my-mb-30">Rezervă-ți locul și fi printre cei care vor să facă o schimbare mâine!</h5>
<form id="myForm" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group mb-4">
    <label for="name"></label>
    <input type="text" class="form-control" id="name" placeholder="Nume și prenume" value="" name="fullName" ngModel required #fullName="ngModel">
  </div>
  <div class="form-group mb-4">
    <label for="email"></label>
    <input type="email" class="form-control" id="email" placeholder="Adresă de email" value="" name="email" ngModel required #email="ngModel">
  </div>
  <div class="form-group mb-4">
    <label for="phoneNo"></label>
    <input type="phone" class="form-control" id="phoneNo" placeholder="Număr de telefon" value="" name="phoneNo" ngModel required #phoneNo="ngModel">
  </div>
  <div class="form-group mb-4">
    <label for="option"></label>
    <select class="form-control" id="option" name="modul" ngModel required #modul="ngModel">
      <option value="" selected disabled>Selectează un modul</option>
      <option value="126">Modul 1 - REMOTE- din 16 ianuarie 2023 - Luni si Miercuri - 18:30 - 20:30 - 1200 RON</option>
      <option value="127">Modul 2 - Institutul Bancar Roman - din 16 ianuarie 2023 - Luni si Miercuri - 18:30 - 20:30 - 1500 RON</option>
      <option value="128">Modul 3 - Hotel Ramada Pitesti - din 21 ianuarie 2023 - Sambata - 10:00 - 14:30  - 1500 RON</option>
      <option value="129">Modul 4 - REMOTE- din 21 ianuarie 2023 - Luni si Miercuri - 10:00 - 14:30 - 1200 RON</option>
    </select>
  </div>
  <div class="form-group mb-4">
    <textarea class="form-control" id="informatii" rows="3" placeholder="Mai multe informații" name="extras" ngModel required #extras="ngModel"></textarea>
  </div>
  <div class="form-group mb-4">
    <label for="promo-code"></label>
    <input type="text" class="form-control" id="promo-code" placeholder="Cod promoțional"  value="" name="promoCode" ngModel required #promoCode="ngModel">
  </div>
  <div class="form-check mb-4">
    <input type="checkbox" id="checkbox-1" class="form-check-input " style="height:20px" (change)="getConsent($event)">
    <label for="checkbox-1" class="form-check-label" name="checkbox-1"><b style="font-size: 25px;">*</b>Sunt de acord cu procesarea datelor mele personale de către SC Te Fac Programator SRL.</label>
  </div>
  <button class="btn btn-primary btn-lg btn-block col-md-12" type="submit" >Mă înscriu</button>
</form>
</div>
</div>
</div>
</div>
